body{
    background-color: white;
}

.newdiv p:first-child{
    color: rgb(255, 0, 0);
}
.newdiv p+p{
    color: yellow;
    background-color: gray;
    padding: 20px;
    margin: 50px;
    
}

body {  background-image: url("99836.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

   /* table {
        background-color: aqua;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
      }*/

    
    
      td, th {
        border-radius: 10px;
        border: 1px solid #000000;
        text-align: left;
        padding: 4px;
      }


     /* td:nth-child(even), th:nth-child(even) {
        background-color: #D6EEEE;
      }*/

    
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      tr:nth-child(odd) {
        background-color: #00fff2;
      }

      tr:hover {background-color: #D6EEEE;}
      
      .emphasis {
        font-size: 120%;
      }

      #apple{
        border-radius: 50px;
      }

      #cbs{
        border-radius: 15px;
      }
      #figaro{
        border-radius: 20px;
      }

      p.unicode {
        direction: rtl;
        unicode-bidi: bidi-override;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: aqua;
        text-decoration-thickness: 5px;
      
      }

      /*p {
        text-decoration: underline aqua wavy 5px;
      }*/


      h1.shadow1 {
        color: white;
        text-shadow: 2px 2px 5px aqua;
      }


      a.imdblink:link,a.imdblink:visited{
        background-color: yellow;
        color: black;
        padding: 14px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
      }
      a.imdblink:hover,a.imdblink:active{
        background-color: white;
      }
      .snape1{
        width: 250px;  
        height: 310px; 
       border: 2px solid black;
       border-radius: 10px;
       display: grid;  
      }
      a.spbut{
        border-radius: 5px;
        
      }

      #snape{
        padding-top: 15px;
        padding-left: 24px;
      }
   
      #Menuhover{
        margin: 5%;
        width: 450px;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 25px 0;
        border-radius: 25px;
        border: 0.1px soild #099FFF;
        background-color: #18181B;
        box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
      }

      #l1{
        display: inline-block;
      position: relative;
      color: white;
      font-size: 20px;
      margin:auto;
      cursor: pointer;

       
      }

      #l1:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 20px;
        bottom: 0;
        left: 0;
        font-size: 18px;
        box-shadow: 2px 2px 5px aqua;
         background-color: aqua;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out; 
        opacity: 40%; 
        border-radius: 5px;
        
       
      }

      #l1:hover:after{
        display: block;
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      #overflow1{
        background-color: purple;
        color: white;
        overflow: auto;
        width: 200px;
        height: 200px;
        padding: 5px;
        border: 2px solid purple;
        border-radius: 8px;
      }

     #divc{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border: 2px solid black;
      padding: 5px;
      width: 50%;
     }

     .navi1{
      background-color: black;
      top: auto;
      padding: 15px;
      border-radius: 20px;
      display: inline-block;
      box-shadow: 0px 0px 5px purple;
     }

    #navi2{
      cursor: pointer;
      color: white;
      padding: 8px;
      position: relative;
      box-shadow: 2px 2px 20px red;
      border-radius: 20px;
   
     }


     #navi2:hover{
      content: "";
      background-color: red;
      border-radius: 20px;
      transition: 2s;
      
     }

     #dnm{
      background-color:red;
      border: 2px solid black;
      display: inline-block;
      width: 100px;
      border-radius: 20px;
      transition: width 2s;
     }

    #dmn1{
      transition-timing-function: linear;
    }

     #dnm:hover{
      
     color: white;
      
      width: 300px;
     }